# Environment Mode
DEV_MODE=true

# Database Configurations
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=toko_olahraga

# SMTP/Email Configurations (PHPMailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS="your_app_password"
SMTP_FROM_EMAIL=your_email@gmail.com
SMTP_FROM_NAME="Toko Olahraga"
